.header {
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  border-top: 3px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fcfcfc;
  position: fixed;
  padding: 7px 0;
  z-index: 9;
}

.header_top {
  width: 1200px;
  height: 20px;
  margin: 0 auto;
}

.header_area {
  position: relative;
  float: left;
  display: inline-block;
  margin: 0px;
  text-align: left;
  height: 24px;
}

.header_area a {
  padding: 0 5px;
  float: left;
  display: block;
}

.menu {
  width: 321px;
  position: relative;
  float: right;
  display: inline-block;
  margin: 0px;
  text-align: right;
  height: 20px;
}

.navigation {
  text-align: left;
  width: 321px;
  float: left;
  margin: 0;
  padding-left: 0;

}

.navigation li {
  float: left;
  width: 107px;
  padding: 0 0 8px 0;
}

.warp {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  right: 0px;
  height: 220px;
}

.header_body {
  padding: 40px 0 0;
  position: relative;
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
  background: #fff;
  height: 220px;
}

.hedaer_b {}

.logo {
  display: block;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  height: 135px;
}

.logo img {
  display: block;
  padding: 40px 0 0;
  margin: 0 auto;
}

.box {
  background: #fff;
  float: left;
  position: relative;
  width: 250px;
  text-align: left;
  margin: 0 0 0 10px;
  border: 1px solid #dfdfdf;
  padding: 0px;
  height: 25px;
}

.put {
  vertical-align: bottom;
  height: 24px;
  width: 150px;
  margin: 0 0 0 5px;
  color: #888;
  letter-spacing: -1px;
}

.text {
  float: right;
  position: relative;
  text-align: right;
  margin: 2px 0px 0 0;
  padding: 0px 0;
}

.text .xans {
  margin: 0 0px 0 0px;
  display: inline-block;
  float: left;
}

.text .xans .cord {
  float: left;
  position: relative;
  padding: 0 5px;
}

.title {
  margin: 0 auto;
  width: 1200px;
  height: 50px;
}

.titlet {
  text-align: center;
  float: left;
  width: 1200px;
  margin: 0 0px 0 0;
  position: relative;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 0;
}

.record {
  padding: 0;
  position: relative;
  display: inline-block;
}

.record img {
  padding: 12px 9px
}

.record img i {
  padding: 0;
}

#mainimg .carousel-control-prev-icon,
#mainimg .carousel-control-next-icon {
  display: none;
}

#mainimg .carousel-indicators [data-bs-target] {
  background-color: #000;
}

#uncontrolled-tab-example-tab-cakebox,
#uncontrolled-tab-example-tab-box,
#uncontrolled-tab-example-tab-out,
#uncontrolled-tab-example-tab-packaging,
#uncontrolled-tab-example-tab-equipment {
  width: 100%;
  margin-top: 20px;

}

#uncontrolled-tab-example-tab-tcb,
#uncontrolled-tab-example-tab-cb {
  width: 100%;
  margin-top: 20px;

}


.nav-item {
  width: 20%;
}

.mb-3 {
  float: left;
  width: 100%;
}