.footer {
    width: 100%;
    height: 330px;
    margin: 0;
    padding: 0;
}

.footer_in {
    width: 1200px;
    margin: 0 auto;
    height: auto;
}

.info {
    top: 0px;
    margin: 0px auto;
    width: 1200px;
    text-align: left;
    background: #fff;
    position: relative;
    border-top: 1px double #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    height: 135px;
    padding: 25px 0;
}

.info ul {
    margin: 0;
    padding: 0;
}

.if {
    width: 690px;
    float: left;
}

.if img {
    border: none;
    vertical-align: top;
}

.community {
    width: 150px;
    height: 76px;
    float: left;
    border-right: 1px solid #ebebeb;
    padding: 0 43px 0 30px;
    font: 10px 'Open Sans', sans-serif;
}

.community img {
    cursor: pointer;
}

.sns {
    width: 150px;
    float: left;
    border-right: 1px solid #ebebeb;
    padding: 0 43px 0 30px;
    height: 76px;
}

.sns img {
    cursor: pointer;
}

.drive {
    width: 150px;
    float: left;
    padding: 0 43px 0 30px;
    height: 76px;
}

.company {
    height: 40px;
    text-align: center;
    width: 1200px;
    padding: 5px 0 10px;
    border-bottom: 2px solid #eee;
}

.company span {
    display: inline-block;
    margin: 0px auto;
}

.company img {
    cursor: pointer;
}

.address {
    text-align: center;
    width: 1200px;
    letter-spacing: -0.3px;
    font: 11px verdana, 돋움;
    color: #777;
    padding: 20px 0 10px;
    line-height: 20px;
}

.address span {
    padding: 0 5px 0 0;
}

.address img {
    cursor: pointer;
}